@import '../../../../assets/styles/abstract/variaveis';

/* EFEITO HOVER NO TEXTO COM LINHA ABAIXO ANIMADA */
.text-container-finance {
    position: relative;
    overflow: hidden;
}

.hover-text-finance {
    margin: 0;
    cursor: pointer;
    transition: color 0.3s;
}

.border-effect-finance {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: $cor-semelhante-2-finance;
    transition: width 0.3s;
}

.text-container-finance:hover .hover-text-finance {
    color: white;
}

.text-container-finance:hover .border-effect-finance {
    width: 100%;
}

/* EFEITO HOVER NO TEXTO COM LINHA ABAIXO ANIMADA */

/* EFEITO SUBLINHADO ANIMADO */
.highligth-finance {
    position: relative;
    display: inline-block;
    z-index: -1;
}

.highligth-finance::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    /* Inicialmente sem largura */
    height: 100%;
    background: $verde;
    /* Cor de fundo da marcação */
    mix-blend-mode: multiply;
    /* Define o modo de mistura para que a cor de fundo não cubra o texto */
    z-index: -1;
    /* Coloca o pseudo-elemento abaixo do texto */
    transition: width 2s ease-out;
    /* Adiciona uma transição para suavizar a animação */
    border-radius: 5px;
}

.highligth-finance.active::before {
    width: 100%;
}

/* EFEITO SUBLINHADO ANIMADO */


/* Botao voltar ao topo */
.voltar-ao-topo-finance {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;

}

.voltar-ao-topo-finance a {
    display: block;
    width: 40px;
    height: 40px;
    background: $cor-semelhante-1-finance;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    text-decoration: none;
    transition: 300ms;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;

    &:hover {
        transform: scale(1.05);
    }
}

body.rolado-finance .voltar-ao-topo-finance {
    display: block;
}

/* Botao voltar ao topo */


/* ScrollBar */

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #51BA5A #DFE9EB;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #51BA5A;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #6AD579;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #3d9448;
}