@import '../abstract/variaveis';

.banner-entrada {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
    height: 100vh;

    //background: url(../img/backgrounds/1.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;

    color: white;

    .video {
        display: block;
        width: 100%;
        /* Ocupa 100% da largura da tela */
        height: 100vh;
        /* Ocupa 100% da altura da tela */
        object-fit: cover;
        /* Mantém a proporção do vídeo e cobre a tela */
        position: absolute;
        /* Fixa o vídeo na tela, evitando rolagem */
        top: 0;
        left: 0;
        z-index: -1;
    }

    .textos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        h1 {
            font-size: $titulo;

            .highlight {
                font-size: $titulo;
            }
        }

        p {
            font-size: $texto;
        }

        .texto-paragrafo {
            font-size: 1rem;
        }

    }

    iframe {
        width: 100%;
        height: 30%;

        border: 5px solid;
        border-image: $gradiente-verde;
        border-image-slice: 1;
        border-radius: 10px;

        //border: 5px solid $cor-principal-finance;
        margin-top: 1rem;
    }

}

@media (min-width: 768px) {
    .banner-entrada {
        justify-content: space-evenly;

        .textos {
            padding: 0 6rem;

            h1 {
                font-size: $titulo-tablet;

                .highlight {
                    font-size: $titulo-tablet;
                }
            }

            p {
                font-size: $texto-tablet;
            }
        }

        iframe {
            margin-top: 0;
            width: 70%;
            height: 30%;
        }
    }
}

@media (min-width: 1024px) {
    .banner-entrada {
        justify-content: center;

        iframe {
            margin-top: 5rem;
            width: 70%;
            height: 30%;
        }
    }
}

@media (min-width: 1440px) {
    .banner-entrada {
        .textos {
            padding: 0 10rem;

            h1 {
                font-size: $titulo-desktop;

                .highlight {
                    font-size: $titulo-desktop;
                }
            }

            p {
                font-size: $texto-desktop;
            }
        }

        iframe {
            margin-top: 5rem;
            width: 60%;
            height: 40%;
        }

    }
}

@media (min-width: 2000px) {
    .banner-entrada {
        .textos {
            padding: 0 35rem;

            h1 {
                font-size: $titulo-desktop;

                .highlight {
                    font-size: $titulo-desktop;
                }
            }

            p {
                font-size: $texto-desktop;
            }
        }

        iframe {
            margin-top: 2rem;
            width: 35%;
            height: 40%;
        }
    }
}