@import '../abstract/variaveis';

.botao {
    text-decoration: none;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 100px;
    padding: 1rem;
    transition: background-position 0.5s ease;
    background-size: 200% 100%;
    background-image: $gradiente-animado;
    transition: 200ms;

    &:hover {
        background-position: -100% 0;
        transform: scale(1.05);
    }
}

.botao-branco {
    text-decoration: none;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 100px;
    padding: 1rem;
    background-color: none;
    border: 2px solid white;
    transition: 200ms;

    &:hover {
        box-shadow: 5px 5px 0px 0px rgb(255, 255, 255);
        transform: scale(1.05);
    }
}

.botao-1 {
    padding: 1rem 2rem;
    background-color: $verde;
    color: white;
    width: 250px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 20px;
    transition: 200ms;

    &:hover {
        box-shadow: 5px 5px 0px 0px $verde-claro;
        transform: scale(1.05);
    }
}

@media (min-width: 1440px) {
    .botao-1 {
        padding: 3rem 2rem;
        font-size: $texto-desktop;
    }
}