@import '../abstract/variaveis';

.carrosel {
    background-color: $verde;
    margin-top: 2rem;
}

.carousel-container {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
    
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    position: relative;
    flex: 0 0 100%;
    height: 300px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
