@import '../abstract/variaveis';

.carrosel {
    background-color: $verde;
    margin-top: 2rem;

    border-radius: 0 0 70% 70%/10px 10px 0 0; /* Curva na parte superior mais acentuada */
}

.carousel-container {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
    
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    position: relative;
    flex: 0 0 100%;
    height: 300px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (min-width: 768px) {
    .carrosel {
        padding: 3rem 0;
    }
}
