@import '../abstract/variaveis';

.dados {
    .counter-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .counter-wrapper {
        text-align: center;
        width: 150px;
        p {
            font-size: 0.8rem;
            color: rgba(103, 103, 103, 0.666);
        }
    }

    .counter {
        font-size: 2em;
        font-weight: 600;
        font-family: 'Arial', sans-serif;
        color: $verde;
    }
}

@media (min-width: 768px) {
    .dados {
        .counter-container {
            gap: 2rem;
        }
        .counter-wrapper {
            text-align: center;
            width: 200px;
            p {
                font-size: $texto;
            }
        }
    }
    
}

@media (min-width: 1024px) {
    .dados {
        .counter-wrapper {
            width: 230px;
        }
    }
}

@media (min-width: 1440px) {
    .dados {
        .counter-wrapper {
            .counter {
                font-size: 3rem;
            }
            width: 340px;
            p {
                font-size: 1.2rem;
            }
        }
    }
}

@media (min-width: 2000px) {
    .dados {
        .counter-wrapper {
            width: 600px;
        }
    }
}

@media (min-width: 2000px) {
    .dados {
        .counter-wrapper {
            width: 615px;
        }
    }
}