// Fontes
$fonte-principal: 'Poppins', sans-serif;
$fonte-secundaria: 'Roboto', sans-serif;

// Cores Grupo Way

$cor-principal-grupo: #51ba5a;
$verde: #51ba5a;
$verde-claro: #6ad579;
$verde-escuro: #3d9448;
$gradiente-verde: linear-gradient(90deg, rgba(81, 186, 90, 1) 0%, rgba(200, 223, 0, 1) 100%);
$gradiente-verde-nav: linear-gradient(85deg, rgba(81,186,90,1) 65%, rgba(141,157,0,1) 100%);
$gradiente-azul: linear-gradient(90deg, rgba(98,105,176,1) 0%, rgba(82,199,220,1) 100%);

$gradiente-animado: linear-gradient(to right, #51ba5a, #c8df00);

// Cores Way Finance

$cor-principal-finance: #51ba5a;
$cor-semelhante-1-finance: #6ad579;
$cor-semelhante-2-finance: #3d9448;


// Cores Way Med

$cor-principal-med: #c8df00;
$cor-semelhante-1-med: #b7cc00;
$cor-semelhante-2-med: #a6b500;


// Cores Way Academy

$cor-principal-academy: #6269b0;
$cor-semelhante-1-academy: #555c95;
$cor-semelhante-2-academy: #495084;


// Cores Way Safe

$cor-principal-safe: #52c7dc;
$cor-semelhante-1-safe: #46b3ca;
$cor-semelhante-2-safe: #3a9bb3;


//Tamanho fontes
$padrao: 16px;

$texto: 16px;
$titulo: 24px;

$texto-tablet: 20px;
$titulo-tablet: 36px;

$texto-desktop: 24px;
$titulo-desktop: 42px;


