// Fontes
$fonte-principal: 'Poppins', sans-serif;
$fonte-secundaria: 'Roboto', sans-serif;

// Cores
$verde: #51ba5a;
$verde-claro: #6ad579;
$verde-escuro: #3d9448;
$laranja: #e15244;
$laranja-claro: #f8a348;
$amarelo-claro: #fee78a;
$amarelo-pastel: #fff7bc;

$cor-base: #51ba5a;
$cor-vibrante-1: #408e46; /* Tom mais saturado e vibrante */
$cor-vibrante-2: #367d3f; /* Tom ainda mais vibrante */
$cor-forte-1: #336738; /* Tom mais forte */
$cor-forte-2: #2b5c30; /* Tom ainda mais forte */

//Tamanho fontes
$padrao: 16px;

$texto: 16px;
$titulo: 32px;

$texto-tablet: 20px;
$titulo-tablet: 36px;

$texto-desktop: 24px;
$titulo-desktop: 42px;

//espaçamento
$padding: 1rem;
