// Fontes
$fonte-principal: 'Poppins', sans-serif;
$fonte-secundaria: 'Roboto', sans-serif;

// Cores
$verde: #51ba5a;
$verde-claro: #6ad579;
$verde-escuro: #3d9448;
$laranja: #e15244;
$laranja-claro: #f8a348;
$amarelo-claro: #fee78a;
$amarelo-pastel: #fff7bc;

//Tamanho fontes
$padrao: 16px;

$texto: 16px;
$titulo: 32px;

$texto-desktop: 24px;
$titulo-desktop: 42px;

//espaçamento
$padding: 1rem;
