@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to left, #51ba5a, #6ad579);
  color: #FFF;
  height: 50px;
  padding: 0.5rem;
}
.top-nav .top-nav-imagem {
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-nav .top-nav-imagem .nav-imagem {
  width: 100px;
  height: 50px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu li .menu-link {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 0.8rem;
}

.menu-link {
  text-decoration: none;
  color: white;
}

.menu > li {
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #3d9448;
    height: 3.5em;
    padding: 1em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    background: linear-gradient(to left, #51ba5a, #6ad579);
  }
  .menu > li:hover {
    background: #6ad579;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
@media (min-width: 1440px) {
  .top-nav {
    padding: 0.5rem 10rem;
  }
}
/* EFEITO HOVER NO TEXTO COM LINHA ABAIXO ANIMADA */
.text-container {
  position: relative;
  overflow: hidden;
}

.hover-text {
  margin: 0;
  cursor: pointer;
  transition: color 0.3s;
}

.border-effect {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s;
}

.text-container:hover .hover-text {
  color: white;
}

.text-container:hover .border-effect {
  width: 100%;
}

/* EFEITO HOVER NO TEXTO COM LINHA ABAIXO ANIMADA */
/* EFEITO SUBLINHADO ANIMADO */
.highlight {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.highlight::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  /* Inicialmente sem largura */
  height: 100%;
  background-color: #51ba5a;
  /* Cor de fundo da marcação */
  mix-blend-mode: multiply;
  /* Define o modo de mistura para que a cor de fundo não cubra o texto */
  z-index: -1;
  /* Coloca o pseudo-elemento abaixo do texto */
  transition: width 2s ease-out;
  /* Adiciona uma transição para suavizar a animação */
  border-radius: 5px;
}

.highlight.active::before {
  width: 100%;
}

/* EFEITO SUBLINHADO ANIMADO */
/* EFEITO RODAPE REDES */
.scroll-section.active {
  transform: scale(1.1);
}

@keyframes highlight {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
    /* Crescimento mais suave */
  }
}
.scroll-section.active {
  animation: highlight 0.5s ease, highlight-back 0.5s ease 0.5s;
  /* Adição de uma segunda animação para retornar ao tamanho original */
}

@keyframes highlight-back {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.banner-entrada {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  padding: 1rem;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  color: white;
}
.banner-entrada .video {
  display: block;
  width: 100%;
  /* Ocupa 100% da largura da tela */
  height: 100vh;
  /* Ocupa 100% da altura da tela */
  -o-object-fit: cover;
     object-fit: cover;
  /* Mantém a proporção do vídeo e cobre a tela */
  position: absolute;
  /* Fixa o vídeo na tela, evitando rolagem */
  top: 0;
  left: 0;
  z-index: -1;
}
.banner-entrada .textos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.banner-entrada .textos h2 {
  font-size: 32px;
}
.banner-entrada .textos h2 .highlight {
  font-size: 1.5rem;
}
.banner-entrada .textos p {
  font-size: 16px;
}
.banner-entrada .textos a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-entrada .textos a:hover {
  transform: scale(1.1);
}
.banner-entrada .textos .botao {
  background-color: #51ba5a;
  border-radius: 100px;
  padding: 1rem;
  transition: 500ms;
}
.banner-entrada .textos .botao:hover {
  background-color: #6ad579;
}

@media (min-width: 768px) {
  .banner-entrada .textos {
    padding: 0 6rem;
  }
  .banner-entrada .textos h2 {
    font-size: 36px;
  }
  .banner-entrada .textos h2 .highlight {
    font-size: 32px;
  }
  .banner-entrada .textos p {
    font-size: 20px;
  }
  .banner-entrada .textos a {
    font-size: 20px;
  }
}
.midia {
  padding: 1rem;
}
.midia h2 {
  font-size: 32px;
  text-align: center;
  color: #3d9448;
}
.midia .midia-icones {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
}
.midia .midia-icones img {
  width: 80px;
  height: 50px;
  filter: saturate(0%);
}

@media (min-width: 768px) {
  .midia h2 {
    font-size: 36px;
  }
  .midia .midia-icones img {
    width: 90px;
    height: 50px;
  }
}
.dados .counter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.dados .counter-wrapper {
  text-align: center;
  width: 150px;
}
.dados .counter-wrapper p {
  font-size: 0.8rem;
  color: rgba(103, 103, 103, 0.666);
}
.dados .counter {
  font-size: 2em;
  font-family: "Arial", sans-serif;
  color: #51ba5a;
}

@media (min-width: 768px) {
  .dados .counter-container {
    gap: 2rem;
  }
  .dados .counter-wrapper {
    text-align: center;
    width: 200px;
  }
  .dados .counter-wrapper p {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .dados .counter-wrapper {
    width: 230px;
  }
}
.carrosel {
  background-color: #51ba5a;
  margin-top: 2rem;
  border-radius: 0 0 70% 70%/10px 10px 0 0; /* Curva na parte superior mais acentuada */
}

.carousel-container {
  position: relative;
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  position: relative;
  flex: 0 0 100%;
  height: 300px;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (min-width: 768px) {
  .carrosel {
    padding: 3rem 0;
  }
}
.contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  padding: 1rem;
  height: 100vh;
  background: url(../img/backgrounds/2.jpg);
  background-repeat: no-repeat;
  background-position: right -600px center;
  background-size: cover;
  color: white;
}
.contato h2 {
  font-size: 32px;
}
.contato p {
  font-size: 16px;
}
.contato .destaque {
  font-weight: 600;
}
.contato a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}
.contato a:hover {
  transform: scale(1.1);
}
.contato .botao {
  background-color: #51ba5a;
  border-radius: 100px;
  padding: 1rem;
  transition: 500ms;
}
.contato .botao:hover {
  background-color: #6ad579;
}

@media (min-width: 768px) {
  .contato {
    padding: 0 6rem;
  }
  .contato h2 {
    font-size: 36px;
  }
  .contato p {
    font-size: 20px;
  }
  .contato a {
    font-size: 20px;
  }
}
@media (min-width: 1440px) {
  .contato {
    background-position: center;
  }
}
.rodape {
  background-color: #51ba5a;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 2rem;
}
.rodape .container h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.rodape .container ul li {
  list-style: none;
}
.rodape .container ul li a {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
}
.rodape .container ul li a:hover {
  text-decoration: underline;
}
.rodape .container-2 {
  text-align: right;
}
.rodape .redes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.rodape .redes .titulo h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.rodape .redes .icones-redes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.rodape .redes .icones-redes a i {
  font-size: 1.5rem;
  padding: 0.2rem 0.5rem;
  transition: 200ms;
}
.rodape .redes .icones-redes a i:hover {
  background-color: white;
  color: #51ba5a;
  border-radius: 10px;
}

@media (min-width: 700px) {
  .rodape {
    padding: 2rem;
  }
  .rodape .container-2 {
    text-align: left;
  }
}
@media (min-width: 1024px) {
  .rodape {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */