@charset "UTF-8";
@import '//assets/styles/components/botao';
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* EFEITO HOVER NO TEXTO COM LINHA ABAIXO ANIMADA */
.text-container {
  position: relative;
  overflow: hidden;
}

.hover-text {
  margin: 0;
  cursor: pointer;
  transition: color 0.3s;
}

.border-effect {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: rgb(81, 186, 90);
  background: linear-gradient(90deg, rgb(81, 186, 90) 0%, rgb(200, 223, 0) 100%);
  transition: width 0.3s;
}

.text-container:hover .hover-text {
  color: white;
}

.text-container:hover .border-effect {
  width: 100%;
}

/* EFEITO HOVER NO TEXTO COM LINHA ABAIXO ANIMADA */
/* EFEITO SUBLINHADO ANIMADO */
.highlight {
  position: relative;
  display: inline-block;
  z-index: -1;
}

.highlight::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  /* Inicialmente sem largura */
  height: 100%;
  background: linear-gradient(90deg, rgb(81, 186, 90) 0%, rgb(200, 223, 0) 100%);
  /* Cor de fundo da marcação */
  mix-blend-mode: multiply;
  /* Define o modo de mistura para que a cor de fundo não cubra o texto */
  z-index: -1;
  /* Coloca o pseudo-elemento abaixo do texto */
  transition: width 2s ease-out;
  /* Adiciona uma transição para suavizar a animação */
  border-radius: 5px;
}

.highlight.active::before {
  width: 100%;
}

/* EFEITO SUBLINHADO ANIMADO */
/* EFEITO SCROLL BAR */
* {
  scrollbar-width: thin;
  scrollbar-color: #397524 #F2FDFF;
}

*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3882352941);
}

*::-webkit-scrollbar-track:hover {
  background-color: rgba(184, 192, 194, 0);
}

*::-webkit-scrollbar-track:active {
  background-color: rgba(184, 192, 194, 0);
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: linear-gradient(90deg, rgb(81, 186, 90) 0%, rgb(200, 223, 0) 100%);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #6ad579;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #3d9448;
}

/* Botao voltar ao topo */
.voltar-ao-topo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

.voltar-ao-topo a {
  display: block;
  width: 40px;
  height: 40px;
  background: linear-gradient(90deg, rgb(98, 105, 176) 0%, rgb(82, 199, 220) 100%);
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
  transition: 300ms;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.voltar-ao-topo a:hover {
  transform: scale(1.05);
}

body.rolado .voltar-ao-topo {
  display: block;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #51ba5a;
  color: #FFF;
  height: 50px;
  padding: 0.5rem;
}
.top-nav .top-nav-imagem {
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-nav .top-nav-imagem .nav-imagem {
  width: 100px;
  height: 40px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu li .menu-link {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 1rem;
}

.menu-link {
  text-decoration: none;
  color: white;
}

.menu > li {
  overflow: hidden;
  text-align: center;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(251, 2, 2, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #6ad579;
    height: 3.5em;
    padding: 1em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    background: #51ba5a;
  }
  .menu > li:hover {
    background: #51ba5a;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
@media (min-width: 700px) {
  .top-nav {
    padding: 2rem 1.5rem;
    background: rgba(85, 105, 87, 0);
  }
  .menu {
    gap: 1rem;
  }
}
@media (min-width: 1440px) {
  .top-nav {
    padding: 1.5rem 10rem;
  }
  .menu li .menu-link {
    font-size: 1rem;
  }
}
@media (min-width: 2000px) {
  .top-nav {
    padding: 2rem 35rem;
  }
  .menu li .menu-link {
    font-size: 1rem;
  }
}
.banner-entrada {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  padding: 1rem;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  color: white;
}
.banner-entrada .video {
  display: block;
  width: 100%;
  /* Ocupa 100% da largura da tela */
  height: 100vh;
  /* Ocupa 100% da altura da tela */
  -o-object-fit: cover;
     object-fit: cover;
  /* Mantém a proporção do vídeo e cobre a tela */
  position: absolute;
  /* Fixa o vídeo na tela, evitando rolagem */
  top: 0;
  left: 0;
  z-index: -1;
}
.banner-entrada .textos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.banner-entrada .textos h1 {
  font-size: 24px;
}
.banner-entrada .textos h1 .highlight {
  font-size: 24px;
}
.banner-entrada .textos p {
  font-size: 16px;
}
.banner-entrada .textos .texto-paragrafo {
  font-size: 1rem;
}
.banner-entrada iframe {
  width: 100%;
  height: 30%;
  border: 5px solid;
  -o-border-image: linear-gradient(90deg, rgb(81, 186, 90) 0%, rgb(200, 223, 0) 100%);
     border-image: linear-gradient(90deg, rgb(81, 186, 90) 0%, rgb(200, 223, 0) 100%);
  border-image-slice: 1;
  border-radius: 10px;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .banner-entrada {
    justify-content: center;
  }
  .banner-entrada .textos {
    padding: 0 6rem;
  }
  .banner-entrada .textos h1 {
    font-size: 36px;
  }
  .banner-entrada .textos h1 .highlight {
    font-size: 36px;
  }
  .banner-entrada .textos p {
    font-size: 20px;
  }
  .banner-entrada iframe {
    margin-top: 0;
    width: 70%;
    height: 30%;
  }
}
@media (min-width: 1024px) {
  .banner-entrada {
    justify-content: center;
  }
  .banner-entrada iframe {
    margin-top: 0;
    width: 50%;
    height: 40%;
  }
  .banner-entrada .textos p {
    font-size: 24px;
  }
}
@media (min-width: 1366px) {
  .banner-entrada {
    justify-content: flex-start;
    gap: 4rem;
  }
  .banner-entrada iframe {
    margin-top: 1rem;
    width: 50%;
    height: 45%;
  }
}
@media (min-width: 1440px) {
  .banner-entrada {
    justify-content: center;
    gap: 1rem;
  }
  .banner-entrada .textos {
    padding: 0 10rem;
  }
  .banner-entrada .textos h1 {
    font-size: 42px;
  }
  .banner-entrada .textos h1 .highlight {
    font-size: 42px;
  }
  .banner-entrada .textos p {
    font-size: 24px;
  }
  .banner-entrada iframe {
    margin-top: 0;
    width: 45%;
    height: 45%;
  }
}
@media (min-width: 2000px) {
  .banner-entrada .textos {
    padding: 0 35rem;
  }
  .banner-entrada .textos h1 {
    font-size: 42px;
  }
  .banner-entrada .textos h1 .highlight {
    font-size: 42px;
  }
  .banner-entrada .textos p {
    font-size: 24px;
  }
  .banner-entrada iframe {
    margin-top: 0;
    width: 35%;
    height: 45%;
  }
}
.grupos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  padding-bottom: 5rem;
}
.grupos .grupos__textos {
  display: grid;
  gap: 1rem;
}
.grupos .grupos__textos h2 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.grupos .grupos__textos p {
  text-align: center;
  font-size: 16px;
  padding-bottom: 1rem;
}
.grupos .container__cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.grupos .container__cards .card-finance {
  border: 3px solid #51ba5a;
  border-radius: 20px;
}
.grupos .container__cards .card-med {
  border: 3px solid #c8df00;
  border-radius: 20px;
}
.grupos .container__cards .card-safe {
  border: 3px solid #52c7dc;
  border-radius: 20px;
}
.grupos .container__cards .card-academy {
  border: 3px solid #6269b0;
  border-radius: 20px;
}
.grupos .container__cards .card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: 500ms;
  padding-bottom: 1rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.grupos .container__cards .card .imagem {
  width: 100%;
}
.grupos .container__cards .card .imagem img {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.grupos .container__cards .card .card__textos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 1rem;
  padding: 1rem;
}
.grupos .container__cards .card .card__textos .titulo__finance {
  color: #51ba5a;
}
.grupos .container__cards .card .card__textos .titulo__med {
  color: #c8df00;
}
.grupos .container__cards .card .card__textos .titulo__safe {
  color: #52c7dc;
}
.grupos .container__cards .card .card__textos .titulo__academy {
  color: #6269b0;
}
.grupos .container__cards .card .card__textos p {
  text-align: left;
}
.grupos .container__cards .card .card__textos .link {
  text-decoration: none;
  color: black;
  font-weight: 700;
  transition: 300ms;
  border-radius: 10px;
}
.grupos .container__cards .card .card__textos .link-finance:hover {
  color: #51ba5a;
  text-decoration: underline;
}
.grupos .container__cards .card .card__textos .link-med:hover {
  color: #c8df00;
  text-decoration: underline;
}
.grupos .container__cards .card .card__textos .link-safe:hover {
  color: #52c7dc;
  text-decoration: underline;
}
.grupos .container__cards .card .card__textos .link-academy:hover {
  color: #6269b0;
  text-decoration: underline;
}

@media (min-width: 500px) {
  .container__cards .card {
    width: 370px;
  }
}
@media (min-width: 700px) {
  .grupos .grupos__textos h2 {
    font-size: 36px;
  }
  .grupos .grupos__textos p {
    text-align: center;
    font-size: 20px;
  }
  .grupos .container__cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .grupos .container__cards .card {
    width: 400px;
  }
  .grupos .container__cards .card .card__textos .card__titulo {
    font-size: 1.2rem;
  }
  .grupos .container__cards .card .card__textos p {
    font-size: 1.2rem;
  }
}
@media (min-width: 1024px) {
  .grupos .grupos__textos {
    padding: 0 12rem 1rem 12rem;
  }
  .grupos .container__cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .grupos .container__cards .card {
    width: 400px;
    transition: all 0.2s;
  }
  .grupos .container__cards .card:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    transform: scale(1.01);
  }
  .grupos .container__cards .card .card__textos .card__titulo {
    font-size: 36px;
  }
  .grupos .container__cards .card .card__textos p {
    font-size: 20px;
  }
}
@media (min-width: 1366px) {
  .grupos .container__cards .card {
    width: 425px;
  }
  .grupos .container__cards .card__textos {
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
  }
}
@media (min-width: 1440px) {
  .grupos .container__cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .grupos .container__cards .card {
    width: 500px;
  }
  .grupos .container__cards .card .card__textos .card__titulo {
    font-size: 36px;
  }
  .grupos .container__cards .card .card__textos p {
    font-size: 20px;
  }
}
@media (min-width: 2000px) {
  .grupos {
    padding: 6rem 15rem;
  }
  .grupos .grupos__textos {
    padding: 0 25rem 5rem 25rem;
  }
  .grupos .container__cards .card {
    width: 450px;
  }
}
.sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
  padding: 1rem;
  height: 100vh;
  background: url(../img/backgrounds/fundo-prime.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}
.sobre h2 {
  font-size: 24px;
}
.sobre p {
  font-size: 16px;
}
.sobre .destaque {
  font-weight: 600;
}
.sobre a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.sobre .botao {
  border-radius: 100px;
  padding: 1rem;
  transition: background-position 0.5s ease;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, #51ba5a, #c8df00);
  transition: 200ms;
}
.sobre .botao:hover {
  background-position: -100% 0;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .sobre {
    padding: 0 6rem;
    background-position: center;
  }
  .sobre h2 {
    font-size: 36px;
  }
  .sobre p {
    font-size: 20px;
  }
  .sobre a {
    font-size: 20px;
  }
}
@media (min-width: 1366px) {
  .sobre {
    padding: 0 25rem;
  }
}
@media (min-width: 1440px) {
  .sobre {
    background-position: center;
    padding: 0 21rem;
  }
}
@media (min-width: 2000px) {
  .sobre {
    background-position: center;
    padding: 0 50rem;
  }
}
.rodape {
  background: rgb(81, 186, 90);
  background: linear-gradient(90deg, rgb(81, 186, 90) 0%, rgb(200, 223, 0) 100%);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;
}
.rodape .rodape__imagem img {
  width: 220px;
  height: 90px;
}
.rodape .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rodape .container h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.rodape .container ul li {
  list-style: none;
  text-align: center;
}
.rodape .container ul li a {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
}
.rodape .container ul li a:hover {
  text-decoration: underline;
}
.rodape .redes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}
.rodape .redes .titulo h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
.rodape .redes .icones-redes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.rodape .redes .icones-redes a i {
  font-size: 1.5rem;
  padding: 0.2rem 0.5rem;
  transition: 200ms;
  color: white;
}
.rodape .redes .icones-redes a i:hover {
  background-color: white;
  color: #3d9448;
  border-radius: 10px;
}

@media (min-width: 700px) {
  .rodape {
    flex-direction: row;
    padding: 2rem;
  }
  .rodape .rodape__imagem {
    order: 2;
  }
  .rodape .redes {
    order: 3;
    padding-top: 0;
  }
  .rodape .container {
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row;
    gap: 1rem;
  }
  .rodape .container ul li {
    text-align: left;
  }
}
@media (min-width: 1024px) {
  .rodape .redes img {
    display: none;
  }
}
@media (min-width: 1440px) {
  .rodape-finance {
    padding: 2rem 25rem;
  }
  .rodape-finance .redes {
    margin: 0;
  }
  .rodape-finance .redes .icones-redes a i {
    font-size: 2rem;
  }
}
@media (min-width: 2000px) {
  .rodape-finance {
    padding: 2rem 30rem;
  }
  .rodape-finance .redes {
    margin: 0;
  }
  .rodape-finance .redes .icones-redes a i {
    font-size: 2rem;
  }
}
.top-nav-finance {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #51ba5a;
  color: #FFF;
  height: 50px;
  padding: 0.5rem;
}
.top-nav-finance .top-nav-imagem {
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-nav-finance .top-nav-imagem .nav-imagem {
  width: 100px;
  height: 40px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu li .menu-link {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 1rem;
}

.menu-link {
  text-decoration: none;
  color: white;
}

.menu > li {
  overflow: hidden;
  text-align: center;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(251, 2, 2, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #6ad579;
    height: 3.5em;
    padding: 1em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    background: #51ba5a;
  }
  .menu > li:hover {
    background: #51ba5a;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
@media (min-width: 700px) {
  .top-nav-finance {
    padding: 2rem 1.5rem;
    background: rgba(85, 105, 87, 0);
  }
  .menu {
    gap: 1rem;
  }
}
@media (min-width: 1440px) {
  .top-nav-finance {
    padding: 1.5rem 10rem;
  }
  .menu li .menu-link {
    font-size: 1rem;
  }
}
@media (min-width: 2000px) {
  .top-nav-finance {
    padding: 2rem 35rem;
  }
  .menu li .menu-link {
    font-size: 1rem;
  }
}
.banner-entrada-finance {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  padding: 1rem;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  color: white;
}
.banner-entrada-finance .video {
  display: block;
  width: 100%;
  /* Ocupa 100% da largura da tela */
  height: 100vh;
  /* Ocupa 100% da altura da tela */
  -o-object-fit: cover;
     object-fit: cover;
  /* Mantém a proporção do vídeo e cobre a tela */
  position: absolute;
  /* Fixa o vídeo na tela, evitando rolagem */
  top: 0;
  left: 0;
  z-index: -1;
}
.banner-entrada-finance .textos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.banner-entrada-finance .textos h1 {
  font-size: 24px;
}
.banner-entrada-finance .textos h1 .highlight {
  font-size: 24px;
}
.banner-entrada-finance .textos p {
  font-size: 16px;
}
.banner-entrada-finance .textos .texto-paragrafo {
  font-size: 1rem;
}
.banner-entrada-finance .iframe-finance {
  width: 100%;
  height: 30%;
  border: 5px solid #51ba5a;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .banner-entrada-finance {
    justify-content: center;
  }
  .banner-entrada-finance .textos {
    padding: 0 6rem;
  }
  .banner-entrada-finance .textos h1 {
    font-size: 36px;
  }
  .banner-entrada-finance .textos h1 .highlight {
    font-size: 36px;
  }
  .banner-entrada-finance .textos p {
    font-size: 20px;
  }
  .banner-entrada-finance .iframe-finance {
    margin-top: 0;
    width: 70%;
    height: 30%;
  }
}
@media (min-width: 1024px) {
  .banner-entrada-finance {
    justify-content: center;
  }
  .banner-entrada-finance .iframe-finance {
    margin-top: 0;
    width: 50%;
    height: 40%;
  }
  .banner-entrada-finance .textos p {
    font-size: 24px;
  }
}
@media (min-width: 1366px) {
  .banner-entrada-finance {
    justify-content: center;
  }
  .banner-entrada-finance .iframe-finance {
    margin-top: 1rem;
    width: 50%;
    height: 45%;
  }
}
@media (min-width: 1440px) {
  .banner-entrada-finance {
    justify-content: center;
    gap: 1rem;
  }
  .banner-entrada-finance .textos {
    padding: 0 10rem;
  }
  .banner-entrada-finance .textos h1 {
    font-size: 42px;
  }
  .banner-entrada-finance .textos h1 .highlight {
    font-size: 42px;
  }
  .banner-entrada-finance .textos p {
    font-size: 24px;
  }
  .banner-entrada-finance .iframe-finance {
    margin-top: 0;
    width: 45%;
    height: 45%;
  }
}
@media (min-width: 2000px) {
  .banner-entrada-finance .textos {
    padding: 0 35rem;
  }
  .banner-entrada-finance .textos h1 {
    font-size: 42px;
  }
  .banner-entrada-finance .textos h1 .highlight {
    font-size: 42px;
  }
  .banner-entrada-finance .textos p {
    font-size: 24px;
  }
  .banner-entrada-finance .iframe-finance {
    margin-top: 0;
    width: 35%;
    height: 45%;
  }
}
.botao {
  text-decoration: none;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 100px;
  padding: 1rem;
  transition: background-position 0.5s ease;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, #51ba5a, #c8df00);
  transition: 200ms;
}
.botao:hover {
  background-position: -100% 0;
  transform: scale(1.05);
}

.metodos {
  padding: 1rem;
}
.metodos .textos h2 {
  text-align: center;
  font-size: 24px;
}
.metodos .textos p {
  font-size: 16px;
  text-align: center;
}
.metodos .text-center {
  text-align: center;
}
.metodos .color-white {
  color: #fff;
}
.metodos .box-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 35px 15px;
  width: 100%;
  gap: 2rem;
}
@media screen and (min-width: 1380px) {
  .metodos .box-container {
    flex-direction: row;
  }
}
.metodos .box-item {
  position: relative;
  width: 415px;
  margin-bottom: 35px;
  max-width: 100%;
}
.metodos .flip-box {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  perspective: 1000px;
  -webkit-perspective: 1000px;
}
.metodos .flip-box-front,
.metodos .flip-box-back {
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  min-height: 475px;
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  backface-visibility: hidden;
}
.metodos .flip-box-front {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}
.metodos .flip-box:hover .flip-box-front {
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
}
.metodos .flip-box-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}
.metodos .flip-box:hover .flip-box-back {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}
.metodos .flip-box .inner {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 60px;
  outline: 1px solid transparent;
  perspective: inherit;
  z-index: 2;
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
  -ms-transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
}
.metodos .flip-box-header {
  font-size: 24px;
  text-align: center;
}
.metodos .flip-box p {
  font-size: 16px;
  line-height: 1.5em;
}
.metodos .flip-box-img {
  margin-top: 25px;
}
.metodos .flip-box-button {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
  padding: 15px 20px;
  text-transform: uppercase;
}
.metodos .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.metodos .card img {
  width: 360px;
}
.metodos .card .textos__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.metodos .card .textos__card h3 {
  text-align: center;
  font-size: 24px;
}
.metodos .card .textos__card p {
  font-size: 16px;
  text-align: center;
}

.rodape-finance {
  background-color: #51ba5a;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;
}
.rodape-finance .rodape__imagem img {
  width: 220px;
  height: 90px;
}
.rodape-finance .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rodape-finance .container h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.rodape-finance .container ul li {
  list-style: none;
  text-align: center;
}
.rodape-finance .container ul li a {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
}
.rodape-finance .container ul li a:hover {
  text-decoration: underline;
}
.rodape-finance .redes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rodape-finance .redes .titulo h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
.rodape-finance .redes .icones-redes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.rodape-finance .redes .icones-redes a i {
  font-size: 1.5rem;
  padding: 0.2rem 0.5rem;
  transition: 200ms;
  color: white;
}
.rodape-finance .redes .icones-redes a i:hover {
  background-color: white;
  color: #3d9448;
  border-radius: 10px;
}

@media (min-width: 700px) {
  .rodape-finance {
    flex-direction: row;
    padding: 2rem;
  }
  .rodape-finance .rodape__imagem {
    order: 2;
  }
  .rodape-finance .redes {
    order: 3;
  }
  .rodape-finance .container {
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row;
    gap: 1rem;
  }
  .rodape-finance .container ul li {
    text-align: left;
  }
}
@media (min-width: 1024px) {
  .rodape-finance .redes img {
    display: none;
  }
}
@media (min-width: 1440px) {
  .rodape-finance {
    padding: 2rem 25rem;
  }
  .rodape-finance .redes {
    margin: 0;
  }
  .rodape-finance .redes .icones-redes a i {
    font-size: 2rem;
  }
}
@media (min-width: 2000px) {
  .rodape-finance {
    padding: 2rem 30rem;
  }
  .rodape-finance .redes {
    margin: 0;
  }
  .rodape-finance .redes .icones-redes a i {
    font-size: 2rem;
  }
}/*# sourceMappingURL=style.css.map */